@import "../../App.scss";

.new_participant_date_and_time_input {
  display: flex;
  flex-direction: column;

  .date_input {
    margin-bottom: 10px;
  }

  .time_range_input {
    margin-top: 10px;
    margin-bottom: 10px;

    .time_pickers {
      position: relative;
      background-color: #ebf5fc;
      border-radius: 5px;
      margin-bottom: 10px;
    }

    .add_one_time_slot_button {
      margin-top: 10px;
      display: block;
    }
  }
}

.event_info_container {
  background-color: $forthColor;
  padding: 5px;
  border-radius: 10px;

  .event_info_header {
    text-align: center;
    color: $labelColor;
  }

  .event_info {
    background-color: $thirdColor;
    padding: 5px;
    border-radius: 10px;

    .information_type_data_pair_container {
      color: $labelColor;
      font-weight: bold;
      font-size: 1.05rem;

      .information_type {
      }
    }
  }
}

.add_one_input_block_button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 8px;
}

.submit_button_container {
  display: flex;
  justify-content: center;
}
