.new_participant_date_and_time_input {
  display: flex;
  flex-direction: column;
}

.date_input {
  margin-bottom: 10px;
}

.time_range_input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.time_pickers {
  margin-bottom: 10px;
}

.add_one_time_slot_button {
  margin-top: 10px;
  display: block;
}

.add_one_input_block_button {
  display: flex;
  justify-content: center;
}
