$primaryColor: white;
$secondaryColor: #92d3ff;
$secondaryHoveredColor: #619dc5;
$thirdColor: #d9ebf7;
$forthColor: #ffb3b1;
$subTitle: rgb(134, 134, 134);
$labelColor: #004675;
$primaryButtonColor: #dea24b;
$primaryButtonHoveredColor: #bd8b3f;
$primaryButtonTextColor: #000000de;

$errorMessageColor: #f44336;

$formContainerColor: #f5f5f5;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@mixin creatButtonStyle($backgroundColor, $hoveredColor, $color, $fontSize) {
  background-color: $backgroundColor !important;
  color: $color !important;
  font-weight: bold !important;
  font-size: $fontSize;
  &:hover {
    background-color: $hoveredColor !important;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //  font-size: 1.05rem;
  //color: $labelColor;
  font-family: "Roboto";
}

h1,
h2 {
  color: $secondaryColor;
  font-weight: bold;
}

.information_type_text {
  color: $subTitle;
}

.dataText {
  color: $labelColor;
}

body {
  background-color: $primaryColor;
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
}

.Button {
  @include creatButtonStyle(
    $primaryButtonColor,
    $primaryButtonHoveredColor,
    $primaryButtonTextColor,
    1rem
  );
}

.proceed_button {
  @include creatButtonStyle(
    $secondaryColor,
    $secondaryHoveredColor,
    $labelColor,
    1.05rem
  );
}

.spinner {
  color: $labelColor !important;
}

.text-input {
  color: red !important;
}

.index {
  color: $subTitle;
}

.container {
  padding: 5px;
}

.input_block {
  background-color: $secondaryColor;
  margin-bottom: 20px;
  opacity: 80%;
  padding: 0 5px 5px 5px;
  border-radius: 10px;
}

.sub_input_block {
  border-radius: 10px;
  padding: 0 5px 5px 5px;
  background-color: $thirdColor;
  margin-bottom: 10px;
}

// media query work on later
// @media screen and (max-width: 700) {
//   .sub_input_block {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//   }

//   .input_field {
//     background-color: red;
//     width: 80%;
//     max-width: 311px;
//   }
// }

.can_be_deleted {
  position: relative;
}

.label {
  color: $labelColor;
  font-weight: bold;
  padding: 5px 0;
}

.header {
  color: $labelColor;
}

.primary_label {
  text-align: center;
}

.icon_with_data {
  display: flex;
  align-items: center;
}

.menu_button {
  position: absolute !important;
  top: 50%;
  transform: translateY(-50%);
}
// page
.page_container {
  background-color: $thirdColor;
  padding: 15px;
  height: 100vh;
}

.page_header {
  color: $labelColor;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.page_header_text {
  font-size: 2rem;
}

//navbar
.navbar_container {
  position: relative;
  background-color: $secondaryColor;
  padding: 5px;

  .navbar_items {
    .icon_container {
      display: flex;
      justify-content: center;
    }
  }
}
